@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim',sans-serif;
}
    
body{
    background-color: beige;
    color: #0e3128;
    line-height: 1.6;
}

nav{
    background-color: bisque;
    color: #1b3035;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: sticky;
    z-index: 100;
    top: 0;
}

nav .logo > img{
    height: 72px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 18px;
    font-size: 18px;
}
nav a{
    color: #4020ce;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    color: #ee1717;
}
.header{
    text-align: center;
    padding: 20px;
    background-color: #f8f7c5;
}

.imge-PORTFOLIO{
    width: 200px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 5px 5px 5px #000000;
    border: 2px solid #c2ffca;
    margin-bottom: 20px;
}
section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 25px;
}
h2{
    text-align: center;
    margin-bottom: 30px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.card{
    background-color: #afaa79;
    width: 300px;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 2px 2px 2px #445029;
}
.card  img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h3{
    padding: 10px;
    font-size: 24px;
}
.card p{
    padding: 5px;
    font-size: 17px;
}